* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: linear-gradient(royalblue, mediumblue, darkblue);
}

main {
  background-color: linen;
  font-family:'Courier New', Courier, monospace;
  margin-left: clamp(200px, 20%, 300px);
  margin-right: clamp(200px, 20%, 300px);
  display: grid;
  height: 100%;
  grid-template-areas:
      "buft buft buft"
      "sd1 comp sd2"
      "mid1 midP mid2"
      "sd3 hum sd4"
      "bufb bufb bufb";
  grid-template-columns: 1fr 480px 1fr;
  grid-template-rows: 20px auto auto auto 20px;
}

.computer-board,
.player-board {
  aspect-ratio: 1 / 1;
  background-color: midnightblue;
  
  
}

.computer-board {
  grid-area: comp;
  align-self: self-end;
  outline: 6px inset red;
}

.comp-row-div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.comp-col-div {
  aspect-ratio: 1 / 1;
}

.comp-cell-btn {
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 900;
  font-size: 4.8rem;
  color: white;
  background-color: midnightblue;
  transition: 0.4s;
}

.comp-cell-btn:active {
  background-color: red;
}

.player-board {
  grid-area: hum;
  outline: 6px inset green;
}

.hum-row-div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.hum-col-div {
  aspect-ratio: 1 / 1;
  color: white;
  align-self:center;
  justify-self: center;
  font-size: 4.8rem;
  font-weight: 900;
}

.buffer-top {
  grid-area: buft;
}

.sidetl {
  grid-area: sd1;
}

.sidetr {
  grid-area: sd2;
}

.mid1 {
  grid-area: mid1;
}

.midP {
  grid-area: midP;
  font-size: 1.6rem;
  display: grid;
  grid-template-areas:
      "btns theirs msg"
      "btnr yours msg";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 3fr;
  align-items:center;
  padding: 8px;
}

.btn-restart {
  grid-area: btns;
}

.btn-regen {
  grid-area: btnr;
}

.p-theirs {
  grid-area: theirs;
  justify-self: right;
  padding: 5px;
  font-size: 1.4rem;
}

.p-yours {
  grid-area: yours;
  justify-self: right;
  padding: 5px;
  font-size: 1.4rem;
}

.num-theirs,
.num-yours {
  font-size: 1.8rem;
  font-weight: bold;
}

.d-msg {
  margin: 10px;
  grid-area: msg;
  height: 100%;
  background-color: white;
  border: 3px inset black;
}

p.msg {
  height: 100%;
  justify-self: right;
  align-self: center;
  padding: 5px;
}

.mid2 {
  grid-area: mid2;
}

.sidebl {
  grid-area: sd3;
}

.sidebr {
  grid-area: sd4;
}

.buffer-bottom {
  grid-area: bufb;
}

header,
footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2.4rem;
}